In [1]:
import os
import pandas as pd
import requests
import time
import numpy as np
from scipy.spatial import KDTree

# Path to folder containing CSV files
folder_path = '.../Kaggle_HDB'

# Get a list of all CSV files in the folder
csv_files = [f for f in os.listdir(folder_path) if f.endswith('.csv')]

csv_files.sort() 

# Load each CSV into a list of DataFrames
dfs = []
for i, file in enumerate(csv_files):
    full_path = os.path.join(folder_path, file)
    df = pd.read_csv(full_path)
    dfs.append(df)

C:\Users\bulle\AppData\Local\Temp\ipykernel_15524\4063276473.py:29: DtypeWarning: Columns (17) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(full_path)
C:\Users\bulle\AppData\Local\Temp\ipykernel_15524\4063276473.py:29: DtypeWarning: Columns (17) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(full_path)

In [ ]:
#Remove the 'remaining lease' column as it is not the correct value as of 2025
dfs[2].drop(columns=['remaining_lease'], inplace=True)
dfs[3].drop(columns=['remaining_lease'], inplace=True)

### Preprocess to check for incorrect, duplicate and missing data etc.

In [ ]:
#concatenate all 5 files into one

df_combined = pd.concat(dfs, axis=0, ignore_index=True)

In [ ]:
#carry out check on missing values and duplicate data

df_combined.isnull().sum()

In [ ]:
#inspect the duplicate data on csv and confirm before removing them

df_combined.duplicated().sum()
dupes = df[df.duplicated(keep=False)]
dupes.to_csv("duplicates_sample.csv", index=False)

In [ ]:
#decide to drop 1849 nos. of duplicates as they are exactly same data rows
df_combined.drop_duplicates(keep='first', inplace=True)

In [ ]:
# Replace 'MULTI GENERATION' with 'MULTI-GENERATION' in the 'flat_type' column
df_combined['flat_type'] = df_combined['flat_type'].replace('MULTI GENERATION', 'MULTI-GENERATION')
df_combined['flat_type'].unique()

In [ ]:
df_combined

### Gather other data that can contribute to housing resale prices such as "DISTANCE TO MRT" and "DISTANCE TO CBD"

In [ ]:
#get unique addresss and call onemap API to get corresponding coordinates in SVY21 

unique_addresses = df_combined[['block', 'street_name']].drop_duplicates()
unique_addresses['formatted'] = unique_addresses['block'].astype(str) + ' ' + unique_addresses['street_name']
unique_addresses

In [513]:

API_TOKEN = "eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiI3NmJiYjMwNTZjM2U2ZWRiMGNhMWMwNTFlNDIyMWE4YyIsImlzcyI6Imh0dHA6Ly9pbnRlcm5hbC1hbGItb20tcHJkZXppdC1pdC1uZXctMTYzMzc5OTU0Mi5hcC1zb3V0aGVhc3QtMS5lbGIuYW1hem9uYXdzLmNvbS9hcGkvdjIvdXNlci9wYXNzd29yZCIsImlhdCI6MTc0NjAyOTE1MywiZXhwIjoxNzQ2Mjg4MzUzLCJuYmYiOjE3NDYwMjkxNTMsImp0aSI6ImtLQk0yajVpWVlyQVJCdWkiLCJ1c2VyX2lkIjo3MDQ1LCJmb3JldmVyIjpmYWxzZX0.N75YCCaeww5nBLY9BctY8LHAfozxHWDrVLeC9hWSlUc"


def onemap_geocode(address, token):
    url = f"https://www.onemap.gov.sg/api/common/elastic/search?searchVal={address}&returnGeom=Y&getAddrDetails=Y&pageNum=1"
    headers = {"Authorization": f"Bearer {token}"}
    try:
        response = requests.get(url, headers=headers)
        if response.status_code == 200:
            results = response.json().get("results", [])
            if results:
                r = results[0]
                return pd.Series({
                    "latitude": r.get("LATITUDE"),
                    "longitude": r.get("LONGITUDE"),
                    "x": r.get("X"),
                    "y": r.get("Y"),
                    "postal": r.get("POSTAL")
                })
    except Exception as e:
        print(f"Error at {address}: {e}")
    return pd.Series({"latitude": None, "longitude": None, "x": None, "y": None, "postal": None})

In [598]:
geocoded = []
for address in tqdm(unique_addresses['formatted']):
    if address in completed:
        continue  # Skip already done
    result = onemap_geocode(address, API_TOKEN)
    result['formatted'] = address
    geocoded.append(result)
    time.sleep(0.1)  # rate limit

100%|████████████████████████████████████████████████████████████████████████████| 9279/9279 [2:23:19<00:00,  1.08it/s]

In [606]:
#For Caching completed rows

cache_file = ".../Kaggle_HDB/geodf2.csv"

# Load if exists, else empty DataFrame
if os.path.exists(cache_file):
    geocode_cache = pd.read_csv(cache_file)
else:
    geocode_cache = pd.DataFrame(columns=["formatted", "latitude", "longitude", "x", "y", "postal"])

# Filter rows that are fully geocoded (no missing values)
completed = set(
    geocode_cache[
        geocode_cache[['latitude', 'longitude', 'x', 'y', 'postal']].notnull().all(axis=1)
    ]['formatted']
)

len(completed)

#all rows managed to retrieve coordinates and postal code

9279

In [600]:
geocoded_df = pd.DataFrame(geocoded)
geocoded_df

,latitude,longitude,x,y,postal,formatted
0,1.36582089504381,103.842847772078,29060.4855782297,38651.0529769398,560207,309 ANG MO KIO AVE 1
1,1.36619678831054,103.841505011903,28911.0522399368,38692.6167905722,560216,216 ANG MO KIO AVE 1
2,1.369196965617,103.841666636086,28929.0379298814,39024.3611866981,560211,211 ANG MO KIO AVE 3
3,1.36844644010937,103.844516260527,29246.1670971215,38941.3731856421,560202,202 ANG MO KIO AVE 3
4,1.36682360872342,103.83649123351,28353.0784864286,38761.9260844272,560235,235 ANG MO KIO AVE 3
...,...,...,...,...,...,...
9274,1.39606977416428,103.895933432889,34968.1999021722,41995.9110142626,541294,294A COMPASSVALE CRES
9275,1.39747908543717,103.878500081571,33028.0964537943,42151.7011134233,791468,468A FERNVALE LINK
9276,1.39619403936395,103.879992372196,33194.1712808739,42009.6104247663,793470,470C FERNVALE LINK
9277,1.39007029696728,103.907273221559,36230.1889172271,41332.5553103369,541164,164A RIVERVALE CRES
9278,1.30816762157583,103.760445558856,19889.9104561079,32276.164855266,120516,516 WEST COAST RD

In [608]:
geo_df = unique_addresses.merge(geocoded_df, on='formatted', how='left')
geo_df

,block,street_name,formatted,latitude,longitude,x,y,postal
0,309,ANG MO KIO AVE 1,309 ANG MO KIO AVE 1,1.36582089504381,103.842847772078,29060.4855782297,38651.0529769398,560207
1,216,ANG MO KIO AVE 1,216 ANG MO KIO AVE 1,1.36619678831054,103.841505011903,28911.0522399368,38692.6167905722,560216
2,211,ANG MO KIO AVE 3,211 ANG MO KIO AVE 3,1.369196965617,103.841666636086,28929.0379298814,39024.3611866981,560211
3,202,ANG MO KIO AVE 3,202 ANG MO KIO AVE 3,1.36844644010937,103.844516260527,29246.1670971215,38941.3731856421,560202
4,235,ANG MO KIO AVE 3,235 ANG MO KIO AVE 3,1.36682360872342,103.83649123351,28353.0784864286,38761.9260844272,560235
...,...,...,...,...,...,...,...,...
9274,294A,COMPASSVALE CRES,294A COMPASSVALE CRES,1.39606977416428,103.895933432889,34968.1999021722,41995.9110142626,541294
9275,468A,FERNVALE LINK,468A FERNVALE LINK,1.39747908543717,103.878500081571,33028.0964537943,42151.7011134233,791468
9276,470C,FERNVALE LINK,470C FERNVALE LINK,1.39619403936395,103.879992372196,33194.1712808739,42009.6104247663,793470
9277,164A,RIVERVALE CRES,164A RIVERVALE CRES,1.39007029696728,103.907273221559,36230.1889172271,41332.5553103369,541164
9278,516,WEST COAST RD,516 WEST COAST RD,1.30816762157583,103.760445558856,19889.9104561079,32276.164855266,120516

In [604]:
#save file first!
geo_df.to_csv('...Kaggle_HDB/geodf2.csv')

In [612]:
df_combined_geo = df_combined.merge(geo_df, on=['block', 'street_name'], how='left')
df_combined_geo.rename(columns={'formatted':'full_address'},inplace=True)
df_combined_geo

,month,town,flat_type,block,street_name,storey_range,floor_area_sqm,flat_model,lease_commence_date,resale_price,year,full_address,latitude,longitude,x,y,postal
0,1990-01-01,ANG MO KIO,1 ROOM,309,ANG MO KIO AVE 1,10 TO 12,31.0,IMPROVED,1977,9000.0,1990,309 ANG MO KIO AVE 1,1.36582089504381,103.842847772078,29060.4855782297,38651.0529769398,560207
1,1990-01-01,ANG MO KIO,1 ROOM,309,ANG MO KIO AVE 1,04 TO 06,31.0,IMPROVED,1977,6000.0,1990,309 ANG MO KIO AVE 1,1.36582089504381,103.842847772078,29060.4855782297,38651.0529769398,560207
2,1990-01-01,ANG MO KIO,1 ROOM,309,ANG MO KIO AVE 1,10 TO 12,31.0,IMPROVED,1977,8000.0,1990,309 ANG MO KIO AVE 1,1.36582089504381,103.842847772078,29060.4855782297,38651.0529769398,560207
3,1990-01-01,ANG MO KIO,1 ROOM,309,ANG MO KIO AVE 1,07 TO 09,31.0,IMPROVED,1977,6000.0,1990,309 ANG MO KIO AVE 1,1.36582089504381,103.842847772078,29060.4855782297,38651.0529769398,560207
4,1990-01-01,ANG MO KIO,3 ROOM,216,ANG MO KIO AVE 1,04 TO 06,73.0,NEW GENERATION,1976,47200.0,1990,216 ANG MO KIO AVE 1,1.36619678831054,103.841505011903,28911.0522399368,38692.6167905722,560216
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
824727,2014-12-01,YISHUN,5 ROOM,816,YISHUN ST 81,10 TO 12,122.0,Improved,1988,580000.0,2014,816 YISHUN ST 81,1.41177094390456,103.83336826951,28005.5299047483,43731.9742311724,760816
824728,2014-12-01,YISHUN,EXECUTIVE,325,YISHUN CTRL,10 TO 12,146.0,Maisonette,1988,540000.0,2014,325 YISHUN CTRL,1.42923856240311,103.842145690691,28982.325986471,45663.4572972525,760325
824729,2014-12-01,YISHUN,EXECUTIVE,618,YISHUN RING RD,07 TO 09,164.0,Apartment,1992,738000.0,2014,618 YISHUN RING RD,1.4187353006021,103.835703280669,28265.3829966681,44502.0577816814,760618
824730,2014-12-01,YISHUN,EXECUTIVE,277,YISHUN ST 22,07 TO 09,152.0,Maisonette,1985,592000.0,2014,277 YISHUN ST 22,1.43791843653816,103.836994608643,28409.0858186753,46623.2325718161,760277
824731,2014-12-01,YISHUN,EXECUTIVE,277,YISHUN ST 22,04 TO 06,146.0,Maisonette,1985,545000.0,2014,277 YISHUN ST 22,1.43791843653816,103.836994608643,28409.0858186753,46623.2325718161,760277

In [495]:
#To get new features 1) distance to MRT and 2) distance to CBD [assumption of CBD= Orchart MRT station]

In [672]:
#get only MRT coordinates.LRT is not included here as LRT is considered feeder service within a town, like a bus service.
MRT_df= pd.read_csv('.../Kaggle_HDB/mrt_exits_noLRT.csv')
MRT_df = MRT_df.rename(columns={"latitude": "y", "longitude": "x"})
MRT_df

,Station,Exit,lat,lon,x,y
0,KAKI BUKIT MRT STATION,Exit B,1.334922,103.909146,36438.8275,35234.5268
1,BEDOK RESERVOIR MRT STATION,Exit B,1.336555,103.933487,39147.7110,35415.1942
2,BENCOOLEN MRT STATION,Exit C,1.297699,103.849272,29775.4413,31118.4994
3,BENCOOLEN MRT STATION,Exit A,1.299195,103.850843,29950.3543,31283.9292
4,KAKI BUKIT MRT STATION,Exit A,1.335311,103.909405,36467.6304,35277.5763
...,...,...,...,...,...,...
486,BOTANIC GARDENS MRT STATION,Exit B,1.322685,103.815914,26063.0601,33881.2681
487,NEWTON MRT STATION,Exit C,1.313617,103.838242,28547.9721,32878.6416
488,LITTLE INDIA MRT STATION,Exit F,1.307684,103.848304,29667.7823,32222.5244
489,ROCHOR MRT STATION,Exit B,1.304215,103.853104,30201.9736,31838.9705
490,DOWNTOWN MRT STATION,Exit A,1.279773,103.852647,30151.0479,29136.3747

In [674]:
def compute_nearest_mrt(blocks_df, mrt_df, block_x='x', block_y='y', mrt_x='x', mrt_y='y', k=1):
    """
    Compute the nearest MRT station(s) for each residential block using KDTree (Euclidean Distance formula) on SVY21 coordinates.

    Parameters:
    - blocks_df: DataFrame with residential blocks and their SVY21 coordinates
    - mrt_df: DataFrame with MRT exits and their SVY21 coordinates
    - block_x, block_y: column names in blocks_df for coordinates
    - mrt_x, mrt_y: column names in mrt_df for coordinates
    - k: number of nearest MRTs to find (default = 1)

    Returns:
    - blocks_df with added columns: nearest MRT name and distance in meters
    """

    # ✅ Correctly refer to parameters, not raw strings
    block_coords = blocks_df[[block_x, block_y]].values
    mrt_coords = mrt_df[[mrt_x, mrt_y]].values

    # Build the KDTree using MRT SVY21 coordinates
    tree = KDTree(mrt_coords)
    distances, indices = tree.query(block_coords, k=k)

    if k == 1:
        blocks_df['nearest_mrt'] = mrt_df.iloc[indices].reset_index(drop=True)['Station']
        blocks_df['nearest_mrt_dist_m'] = distances
    else:
        for i in range(k):
            blocks_df[f'nearest_mrt_{i+1}'] = mrt_df.iloc[indices[:, i]].reset_index(drop=True)['Station']
            blocks_df[f'dist_mrt_{i+1}'] = distances[:, i]

    return blocks_df

In [676]:
geo_df_MRT= compute_nearest_mrt(df_combined_geo, MRT_df,block_x='x', block_y='y', mrt_x='x', mrt_y='y', k=1)
geo_df_MRT

,month,town,flat_type,block,street_name,storey_range,floor_area_sqm,flat_model,lease_commence_date,resale_price,year,full_address,latitude,longitude,x,y,postal,nearest_mrt,nearest_mrt_dist_m,distance_to_cbd_m
0,1990-01-01,ANG MO KIO,1 ROOM,309,ANG MO KIO AVE 1,10 TO 12,31.0,IMPROVED,1977,9000.0,1990,309 ANG MO KIO AVE 1,1.36582089504381,103.842847772078,29060.485578,38651.052977,560207,ANG MO KIO MRT STATION,826.278252,6834.444796
1,1990-01-01,ANG MO KIO,1 ROOM,309,ANG MO KIO AVE 1,04 TO 06,31.0,IMPROVED,1977,6000.0,1990,309 ANG MO KIO AVE 1,1.36582089504381,103.842847772078,29060.485578,38651.052977,560207,ANG MO KIO MRT STATION,826.278252,6834.444796
2,1990-01-01,ANG MO KIO,1 ROOM,309,ANG MO KIO AVE 1,10 TO 12,31.0,IMPROVED,1977,8000.0,1990,309 ANG MO KIO AVE 1,1.36582089504381,103.842847772078,29060.485578,38651.052977,560207,ANG MO KIO MRT STATION,826.278252,6834.444796
3,1990-01-01,ANG MO KIO,1 ROOM,309,ANG MO KIO AVE 1,07 TO 09,31.0,IMPROVED,1977,6000.0,1990,309 ANG MO KIO AVE 1,1.36582089504381,103.842847772078,29060.485578,38651.052977,560207,ANG MO KIO MRT STATION,826.278252,6834.444796
4,1990-01-01,ANG MO KIO,3 ROOM,216,ANG MO KIO AVE 1,04 TO 06,73.0,NEW GENERATION,1976,47200.0,1990,216 ANG MO KIO AVE 1,1.36619678831054,103.841505011903,28911.052240,38692.616791,560216,MAYFLOWER MRT STATION,731.674686,6852.034457
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
824727,2014-12-01,YISHUN,5 ROOM,816,YISHUN ST 81,10 TO 12,122.0,Improved,1988,580000.0,2014,816 YISHUN ST 81,1.41177094390456,103.83336826951,28005.529905,43731.974231,760816,KHATIB MRT STATION,586.741132,11818.482105
824728,2014-12-01,YISHUN,EXECUTIVE,325,YISHUN CTRL,10 TO 12,146.0,Maisonette,1988,540000.0,2014,325 YISHUN CTRL,1.42923856240311,103.842145690691,28982.325986,45663.457297,760325,YISHUN MRT STATION,725.118656,13791.219401
824729,2014-12-01,YISHUN,EXECUTIVE,618,YISHUN RING RD,07 TO 09,164.0,Apartment,1992,738000.0,2014,618 YISHUN RING RD,1.4187353006021,103.835703280669,28265.382997,44502.057782,760618,KHATIB MRT STATION,291.324644,12593.162836
824730,2014-12-01,YISHUN,EXECUTIVE,277,YISHUN ST 22,07 TO 09,152.0,Maisonette,1985,592000.0,2014,277 YISHUN ST 22,1.43791843653816,103.836994608643,28409.085819,46623.232572,760277,YISHUN MRT STATION,924.858624,14717.777524
824731,2014-12-01,YISHUN,EXECUTIVE,277,YISHUN ST 22,04 TO 06,146.0,Maisonette,1985,545000.0,2014,277 YISHUN ST 22,1.43791843653816,103.836994608643,28409.085819,46623.232572,760277,YISHUN MRT STATION,924.858624,14717.777524

In [678]:
### Use Orchard MRT station EXIT 1 to set as central CBD point, and create new feature "distance_to_CBD"

CBD_coords = (27911.5994999953,31913.8653998896)
cbd_x, cbd_y = CBD_coords
cbd_x,cbd_y

(27911.5994999953, 31913.8653998896)

In [680]:
geo_df_MRT['x'] = pd.to_numeric(geo_df_MRT['x'])
geo_df_MRT['y'] = pd.to_numeric(geo_df_MRT['y'])

In [663]:
#compute distance from block to CBD


def compute_distance_to_cbd(df, cbd_x, cbd_y):
    df['distance_to_cbd_m']= np.sqrt((df['x']-cbd_x)**2 +(df['y']-cbd_y) **2)
    return df

geo_df_MRT_cbd= compute_distance_to_cbd (geo_df_MRT, cbd_x,cbd_y)

geo_df_MRT_cbd

,month,town,flat_type,block,street_name,storey_range,floor_area_sqm,flat_model,lease_commence_date,resale_price,year,full_address,latitude,longitude,x,y,postal,nearest_mrt,nearest_mrt_dist_m,distance_to_cbd_m
0,1990-01-01,ANG MO KIO,1 ROOM,309,ANG MO KIO AVE 1,10 TO 12,31.0,IMPROVED,1977,9000.0,1990,309 ANG MO KIO AVE 1,1.36582089504381,103.842847772078,29060.485578,38651.052977,560207,ANG MO KIO MRT STATION,826.278252,6834.444796
1,1990-01-01,ANG MO KIO,1 ROOM,309,ANG MO KIO AVE 1,04 TO 06,31.0,IMPROVED,1977,6000.0,1990,309 ANG MO KIO AVE 1,1.36582089504381,103.842847772078,29060.485578,38651.052977,560207,ANG MO KIO MRT STATION,826.278252,6834.444796
2,1990-01-01,ANG MO KIO,1 ROOM,309,ANG MO KIO AVE 1,10 TO 12,31.0,IMPROVED,1977,8000.0,1990,309 ANG MO KIO AVE 1,1.36582089504381,103.842847772078,29060.485578,38651.052977,560207,ANG MO KIO MRT STATION,826.278252,6834.444796
3,1990-01-01,ANG MO KIO,1 ROOM,309,ANG MO KIO AVE 1,07 TO 09,31.0,IMPROVED,1977,6000.0,1990,309 ANG MO KIO AVE 1,1.36582089504381,103.842847772078,29060.485578,38651.052977,560207,ANG MO KIO MRT STATION,826.278252,6834.444796
4,1990-01-01,ANG MO KIO,3 ROOM,216,ANG MO KIO AVE 1,04 TO 06,73.0,NEW GENERATION,1976,47200.0,1990,216 ANG MO KIO AVE 1,1.36619678831054,103.841505011903,28911.052240,38692.616791,560216,MAYFLOWER MRT STATION,731.674686,6852.034457
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
824727,2014-12-01,YISHUN,5 ROOM,816,YISHUN ST 81,10 TO 12,122.0,Improved,1988,580000.0,2014,816 YISHUN ST 81,1.41177094390456,103.83336826951,28005.529905,43731.974231,760816,KHATIB MRT STATION,586.741132,11818.482105
824728,2014-12-01,YISHUN,EXECUTIVE,325,YISHUN CTRL,10 TO 12,146.0,Maisonette,1988,540000.0,2014,325 YISHUN CTRL,1.42923856240311,103.842145690691,28982.325986,45663.457297,760325,YISHUN MRT STATION,725.118656,13791.219401
824729,2014-12-01,YISHUN,EXECUTIVE,618,YISHUN RING RD,07 TO 09,164.0,Apartment,1992,738000.0,2014,618 YISHUN RING RD,1.4187353006021,103.835703280669,28265.382997,44502.057782,760618,KHATIB MRT STATION,291.324644,12593.162836
824730,2014-12-01,YISHUN,EXECUTIVE,277,YISHUN ST 22,07 TO 09,152.0,Maisonette,1985,592000.0,2014,277 YISHUN ST 22,1.43791843653816,103.836994608643,28409.085819,46623.232572,760277,YISHUN MRT STATION,924.858624,14717.777524
824731,2014-12-01,YISHUN,EXECUTIVE,277,YISHUN ST 22,04 TO 06,146.0,Maisonette,1985,545000.0,2014,277 YISHUN ST 22,1.43791843653816,103.836994608643,28409.085819,46623.232572,760277,YISHUN MRT STATION,924.858624,14717.777524